
@{
    ViewBag.Title = "Unassaign All Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:60px;">
    <form class="form-horizontal" method="post" id="unassignedCourseForm">
        <fieldset>
            <legend>Unassign All Courses</legend>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="submit" id="unassignedButton" value="Unassign Courses" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
@if (ViewBag.Message != null)
{
    <div class="form-group" style="padding-left:17px;">
        <div class="col-sm-offset-2 col-sm-10 bg-danger" style="padding-top:5px; border-radius:10px;width:410px;">
            <p id="messageBox" class="text-danger" style="font-size:medium;">
                @ViewBag.Message
            </p>
        </div>
    </div>
}
@section scripts{
    <script>
        $(function () {
            $("#unassignedButton").click(function () {
                var r = confirm("Are You Sure To Unassign All Courses ??");
                if (r == true) {
                    $("#unassignedCourseForm").submit();
                } else {

                    return false;
                }
            });
        });
    </script>
}

